* text=auto
* linguist-vendored
*.php linguist-vendored=false
*.php linguist-detectable=true
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
